<%- include("../partials/header.ejs")%>

    <div class="parallax-container">
        <div class="parallax"><img src="/images/vacation.jpg" class="header-img"></div>
    </div>

    <div class="container col s2">

        <h3 class="about">About Us</h3>

            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eleifend quam adipiscing vitae proin sagittis nisl. Sit amet nulla facilisi morbi tempus iaculis urna id. Massa tincidunt nunc pulvinar sapien et ligula. Ac auctor augue mauris augue neque gravida in. Vulputate ut pharetra sit amet aliquam id diam maecenas. Purus faucibus ornare suspendisse sed nisi lacus sed viverra. Natoque penatibus et magnis dis. Amet purus gravida quis blandit turpis cursus in hac. Quis ipsum suspendisse ultrices gravida dictum. Vel eros donec ac odio. Nisi lacus sed viverra tellus. Enim tortor at auctor urna nunc id cursus metus aliquam.

            Vitae tempus quam pellentesque nec nam aliquam. Euismod lacinia at quis risus sed. In egestas erat imperdiet sed euismod nisi porta. Quis lectus nulla at volutpat. Tincidunt ornare massa eget egestas purus viverra accumsan. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Lectus urna duis convallis convallis tellus id interdum velit. Ornare massa eget egestas purus viverra accumsan in. Auctor augue mauris augue neque. Aenean pharetra magna ac placerat vestibulum lectus. Id donec ultrices tincidunt arcu non. Rutrum quisque non tellus orci ac auctor. Integer enim neque volutpat ac tincidunt vitae semper. Diam maecenas sed enim ut sem viverra aliquet eget sit. Amet facilisis magna etiam tempor orci eu lobortis elementum. Vestibulum lectus mauris ultrices eros in. Pretium fusce id velit ut tortor pretium viverra. Ipsum dolor sit amet consectetur adipiscing elit pellentesque. Morbi non arcu risus quis varius. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu.</p>

    </div>

<%- include("../partials/footer.ejs")%>