<%- include("../partials/header.ejs")%>

            <h1>Edit your profile!</h1>

            <span>
                <button><a href="/auth/profile">Back to Profile</a></button>
            </span>
            

<%- include("../partials/footer.ejs")%>