<%- include("../partials/header.ejs")%>

            <h1>Homepage</h1>
                <h3>Welcome, Guy!</h3>

            
            <button><a href="/auth/profile">View Your Profile</a></button>
            
       
<%- include("../partials/footer.ejs")%>