<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/js/script.js' type="text/javascript"></script>
    <title>Escape Route</title>
</head>
<body>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <img src="/images/paper airplain logo-01.png" class="brand-logo center">
            </div>
        </nav>
    </div>
    <div class="container col s2">
    <h1>Create your Account!</h1>

        <form action="/auth/register" method="POST">
            <label>Username:</label>
                <input type="text" name="username"/>
            <label>Password:</label>
                <input type="password" name="password"/>
            <label>Email:</label>
                <input type="text" name="email"/>
                <button class="stylebtn account" type="submit">Create Account</button>
        </form>

        <button class="stylebtn"><a class="styletag" href="/">Return to Login</a></button>            
    </div>

<%- include("../partials/footer.ejs")%>