<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Document</title>
    </head>
    <body>

        <h1>Create your Account!</h1>

            <form action="/auth/register" method="POST">
                <label>Username:</label>
                    <input type="text" name="username"/>
                <label>Password:</label>
                    <input type="password" name="password"/>
                <label>Email:</label>
                    <input type="text" name="email"/>
                    <button type="submit">Create Account</button>
            </form>

            <button><a href="/">Return to Login</a></button>            

<%- include("../partials/footer.ejs")%>