<%- include("../partials/header.ejs")%>

            <h1>Your Profile</h1>

                <h3>Tell us about yourself!</h3>

            
            <span>
                <button><a href="/auth/profile/edit">Edit Your Profile</a></button>
            </span>

            <span>
                <button><a href="/auth/">Back to Homepage</a></button>
            </span>
            
<%- include("../partials/footer.ejs")%>
