<%- include("../partials/header.ejs")%>
<div class="container col s2">

    <h1>Pick an Activity</h1>

    Plenty of ways to spend your time.

    <a class="styletag" href="/trips">View your current trips.</a>
</div>

<%- include("../partials/footer.ejs")%>