<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trips Index</title>
</head>
<body>
    <h1>Your Trips</h1>
    <div class="nav">
        <a href="/trips/new-trip">Cities</a>
        ||
        <a href="/">Your Profile</a>
        ||
        <a href="/">Logout</a>
    </div>


    <a href="trips/new-trip">Plan a new trip.</a>
    
</body>
</html>