<%- include("../partials/header.ejs")%>

    <h1>Plan Your Next Trip</h1>

        Where would you like to go?
    <br>
    <br>
        <a href="/trips/add-activity">Add an activity</a>
    <br>
    <br>
        <a href="/trips">View your current trips.</a>


<%- include("../partials/footer.ejs")%>