<br>
<br>
<br>
</main>
<footer class="page-footer foot">
          <div class="container foot">
            <div class="row foot">
              <div class="col l6 s12">
                <h5 class="white-text"><img class="more-info" src="/images/PlaneLogoText.png"></h5>
                <p class="grey-text text-lighten-4">This site was built to help you plan the escape route to your dreams.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">GitHub Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/OladiranJ">Diran's GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/alexander215">Alex's GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Alex-Diran, All rights reserved.
            </div>
          </div>
        </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>