<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/js/script.js' type="text/javascript"></script>
    <title>Escape Route</title>
</head>
<body>

    <div class="navbar-fixed">
        <nav class="login-navbar">
            <div class="nav-wrapper">
                <img src="/images/PlaneLogoText.png" class="brand-logo center">
            </div>
        </nav>
    </div>
<main>   


            <div class="container" style='max-width: 40%' >

                <h3 class="intro-header">Planning dream vacations made easy</h3>

                <h4>Login</h4>

                  <div>
                    <form action="/auth/login" method="POST" class="col s6">
                        <label class="login-form">Username:</label>
                            <input placeholder="Your Name" type="text" name="username">
                        <label class="login-form">Password:</label>
                            <input placeholder="Your Password" type="password" name='password'>
                            <div class='btn-div'>
                              <button class="stylebtn" type='submit'>Login</button>
                            </div>
                            <span class="error"><%=message%></span>
                    </form>
                  </div>


                <h5 class="intro-header" >Don't have an account? Sign up here:</h5>
                <div class='btn-div'>
                    <button class="stylebtn" type="button"><a class="styletag" href="/auth/new">Sign up</button>
                </div>

            </div>

<br>
<br>
<br>
</main>
<footer class="page-footer foot">
          <div class="container foot">
            <div class="row foot">
              <div class="col l6 s12">
                <h5 class="white-text">More Information</h5>
                <p class="grey-text text-lighten-4">This site was built to help you plan the escape route to your dreams.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">GitHub Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/OladiranJ">Diran's GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/alexander215">Alex's GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Alex-Diran, All rights reserved.
            </div>
          </div>
        </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>