.nav-wrapper {
    /* background-color: #687864; */
    /* background-color: #31708E; */
    background-color: #5085A5;
    /* background-color: #8FC1E3; */
}
.header-img{
    width: 100%
}
.parallax-container{
    height: 250px !important
}
.plane {
    max-height: 100%;
}
body {
    background-color: #F7F9FB;
}