.nav-wrapper {
    /* background-color: #687864; */
    /* background-color: #31708E; */
    background-color: #5085A5;
    /* background-color: #8FC1E3; */
}
.header-img{
    width: 100%
}
.parallax-container{
    height: 300px !important
}
.plane {
    max-height: 100%;
}
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    color: #31708E;
}
.welcome{
    text-align: center;
    font-size: 70px;
    padding: 30px 0 30px 0;
}
.trips-list{
    
}
body {
    background-color: #F7F9FB;
    font-family: 'Source Sans Pro', sans-serif;

}

.brand-logo{
    max-height: 100%
}
.login-navbar{
    height: 100px !important;
    line-height: 100px !important;
    margin-bottom: 20px 
}
.intro-header{
    margin-top: 100px
}

.login-form{
    font-size: 20px
}