.nav-wrapper {
    background-color: #5085A5;
}
.header-img{
    width: 100%
}
.parallax-container{
    height: 300px !important
}
.plane {
    max-height: 100%;
}
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    color: #31708E;
}
.welcome{
    text-align: center;
    font-size: 70px;
    padding: 30px 0 30px 0;
}
.trips-list{
    
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F7F9FB;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    flex: 1 0 auto;
}

.brand-logo{
    max-height: 100%
}
.login-navbar{
    height: 100px !important;
    line-height: 100px !important;
    margin-bottom: 20px 
}
.intro-header{
    margin-top: 100px
}

.login-form{
    font-size: 20px
}
.list-items{
    font-size: 40px;
    color: black
}

.created{
    font-size: 150px;
    text-align: center;
}

.link{
    color: #5085A5;
}

.link:hover{
    color:#8FC1E3;
}

.foot{
    background-color: #31708E !important;
}

.about{
    text-align: center;
}

.stylebtn{
    border-radius: 8px;
    border: none;
    background-color: #8FC1E3;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.stylebtn:hover{
    opacity: 1;
}

.styletag{
    color: white;
}

.deletebtn{
    background-color: #E85A4F;
    margin-left:auto;
}

.activity-name{
    font-size: 27px;
    color: #31708E;
}

.edit-btns{
    display: flex !important;
    justify-content: space-around !important;
    margin-bottom: 5px;
}

.more-info{
    max-width: 50%;
}

.b2h{
    margin-right: 250px;
}

.eyp{
    margin-left: 250px;
}
