<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/js/script.js' type="text/javascript"></script>
    <title>Document</title>
</head>
<body>

    <div class="navbar-fixed">
        <nav class="login-navbar">
            <div class="nav-wrapper">
                <img src="/images/PlaneLogoText.png" class="brand-logo center">
            </div>
        </nav>
    </div>
       


            <div class="container">

                <h3 class="intro-header">What is your dream vacation?</h3>

                <h4>Login</h4>

                    <form action="/auth/login" method="POST" class="col s6">
                        <label class="login-form">Username:</label>
                            <input placeholder="Your Name" type="text" name="username">
                        <label class="login-form">Password:</label>
                            <input placeholder="Your Password" type="password" name='password'>
                            <button type='submit'>Login</button>
                            <span class="error"><%=message%></span>
                    </form>


                <h4>Don't have an account? Sign up here:</h4>
                    <button type="button"><a href="/auth/new">Sign up</button>

            </div>

<%- include("./partials/footer.ejs")%>